@model IEnumerable<WebSeeSharpers.Models.Special>

@{
    ViewData["Title"] = "Arrangementen";
}

Arrangementen

@foreach (var item in Model) {
    <div class="card bg-black text-white col-3 mx-2 p-2" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-black text-white"> @Html.DisplayFor(modelItem => item.Description)</li>
            <li class="list-group-item bg-black text-white"> @Html.DisplayFor(modelItem => item.Cost)</li>
            <li class="list-group-item bg-black text-white">
                <asp:CheckBox ID=“CheckBox“ runat=““/>
                <a asp-action="Details" asp-route-id="@item.Id">Selecteer</a>
            </li>
            
        </ul>
    </div>

}