
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<h3>Visiting address</h3>
<p>Hogeschoollaan 1 <br> 4818CR Breda</p>
<p>088 - 525 75 00</p>




<div class="location">
    <h1>Route</h1>
    <div>
<iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJfVbIJtihxkcRtpKG3aL1p9o&key=AIzaSyBSQBhSC7b2eobiB_7gWtPj6T1OjvsRHZ8"></iframe>    </div>
</div>

